<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <meta charset="UTF-8">
    <title>Species list</title>
</head>
<body>
<table id="species" class="table table-striped">
    <thead>
    <tr>
        <th>Latin</th>
        <th>English</th>
        <th>Català</th>
        <th>Castellano</th>
    </tr>
    </thead>
    <tbody>
    {% for animal in species %}
        <tr>
            <td>{{ animal.latin_name }}</td>
            <td>{{ animal.common_name_english }}</td>
            <td>{{ animal.common_name_catalan }}</td>
            <td>{{ animal.common_name_spanish }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#species').DataTable({
            "pageLength": 50,
            "order": [[1, "asc"]]
        });
    });
</script>
</body>
</html>

